/*color theme*/
:root {
    --teal: #317773;
    --pink: #FBEAEB;
    --forestgreen: #3a6b35;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--forestgreen);
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--teal);
    padding: 15px 30px 15px 0;
}

h1 {
    display: flex;
    justify-content: left;
    background-color: var(--pink);
    color: var(--teal);
    font-size: 4rem;
    padding: 15px 20px 15px 100px; 
    margin: 0;
}
#navigation {
    display: flex;
    justify-content: space-between;
}

#navigation p {
    color: var(--pink);
    font-size: 1.8rem;
    border-bottom: 3px solid var(--pink);
    padding: 5px 5px;
    margin: 0px 10px;
}

#navigation p:hover {
    background-color: var(--pink);
    color: var(--teal);
    transition: all 0.5s ease-out;
}

#hero {
    background-image: url(02-hero-bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 5% 0 0;
}
#hero h2 {
    background-color: var(--pink);
    color: var(--teal);
    font-size: 3rem;
    height: 3rem;
    padding: 10px;
}
