/*color theme*/
:root {
    --teal: #317773;
    --pink: #FBEAEB;
    --forestgreen: #3a6b35;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--forestgreen);
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--teal);
    padding: 15px 30px 15px 0;
}

h1 {
    display: flex;
    justify-content: left;
    background-color: var(--pink);
    color: var(--teal);
    font-size: 4rem;
    padding: 15px 20px 15px 100px; 
    margin: 0;
}
#navigation {
    display: flex;
    justify-content: space-between;
}

#navigation p {
    color: var(--pink);
    font-size: 1.8rem;
    border-bottom: 3px solid var(--pink);
    padding: 5px 5px;
    margin: 0px 10px;
}

#navigation p:hover {
    background-color: var(--pink);
    color: var(--teal);
    transition: all 0.5s ease-out;
}

#hero {
    background-image: url(02-hero-bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 5% 0 0;
}
#hero h2 {
    background-color: var(--pink);
    color: var(--teal);
    font-size: 3rem;
    height: 3rem;
    padding: 10px;
}

.sectionHeading {
    font-size: 4rem;
    text-align: right;
    padding: 0 2% 0 10%;
    width: 200px;
}

.contentSection {
    padding: 10px 50px 10px 10px;
    margin: 10px;
    border-left: 5px solid var(--forestgreen);
    width: 75%;
}

#aboutMeInfo {
    font-size: 1.4rem;
}

#aboutMe {
    display: flex;
    flex-direction: row;
}

#Work {
    display: flex;
    flex-direction: row;
}

#contactMe {
    display: flex;
    flex-direction: row;
}

#Resume {
    display: flex;
    flex-direction: row;
}

#heroGrid {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "Project1 Project1"
    "Project1 Project1"
    "Project2 Project3"
    "Project4 Project5"
}

#Project1 {
    grid-area: Project1;
    background-image: url(02-portfolio-1.jpg);
}

#Project2 {
    grid-area: Project2;
    background-image: url(02-portfolio-2.jpg);
}

#Project3 {
    grid-area: Project3;
    background-image: url(02-portfolio-3.jpg);
}

#Project4 {
    grid-area: Project4;
    background-image: url(02-portfolio-4.jpg);
}

#Project5 {
    grid-area: Project5;
    background-image: url(02-run-buddy.jpg);
}

.heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
    margin: 5px;
    border: 5px solid var(--teal);
    cursor: grab;
}

.heroGridArea:hover {
    border: none;
}

.workHeading {
    font-size: 3rem;
    color: var(--teal);
    background-color: var(--pink);
    padding: 10px 10px 10px 5px;
}
